
* {
    box-sizing: border-box; 
}

body {

    font-family: Roboto;
    margin: 0;
}


a{
    text-decoration: none;
    color:#f98d09;
}

a:hover{
    color:#EF7724;
}

.logo {
    padding:5px 0px 0px 10px;
}

.version-logo{
    display: block;
    margin-top: 2px;
    font-size: smaller;
}

.darkmode{
    padding: 10px;
    background-color: #1e1e1e;
}

#main {
    display: flex;
    min-height: 95vh;
}

#main > article {
    flex: 1;
    padding: 20px;
}

#main > nav{
/* flex: 0 0 4vw; */
width: 0px;
display: none;
background-color: #121212;
}

#main > aside {
flex: 0 0 5vw;
background:#121212;
display: none;
}


#main > nav {
order: -1;
}

#main > nav ul{
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
}

#main > nav ul li a{
    display: block;
    color:"#121212";
    text-decoration: none;
    padding:5px;
    font-size: 80%;
    display: none;
}

#main > nav ul li a.active{
    display: block;
    color:#ffffff;
    background: #1e1e1e;
    text-decoration: none;
    box-shadow: 0 8px 6px -6px #000000;
}


header, article, aside {
padding: 0;
}


header{
background: #121212;
height: 55px;
}


footer {
background: #121212;
height: 5vh;
position: relative;
padding: 10px;

}

.footer-stop{
background-color: #121212;
height: 100%;
width:10vw;
min-width: 150px;
position: absolute;
left: 0;
top: 0;
}


.row{
    display: flex;
}

.row div.col {
    flex: 1;
}

.pull-right{
    text-align: right;
    float: right;
}

.rel{
    position: relative;
}

.bottom-left{
    position: absolute;
    left:1px;
    bottom: 1px;
}

.form-error p{
    background: rgb(250, 195, 206);
    padding:10px;
    border-radius: 5px;
}

.margin-5px{
    margin: 5px;
}

.margin-right-5px{
    margin-right: 5px;
}

.margin-left-5px{
    margin-left: 5px;
}

.margin-bottom-5px{
    margin-bottom:5px;
}

.margin-top-5px{
    margin-top:5px;
}


.danger:hover{
    cursor: not-allowed;
    color:red;
}

.danger-color{
    color: red;
}

.btn{
    border:none;
    background: #898989;
    color:#222;
    padding:10px;
    color:#f6f6f6;
}

.btn-grp{ 
    border:none;
    background: #b3b3b3;
    color:#222;
    padding:5px;
    color:#2b2a2a;
    /* border-radius: 5px; */
    margin:2px;
    font-size:12px;}

.btn-active{
    background:#1a1812; 
    color:#ffffff;
}
.vhight{ overflow-x:auto; 
    max-height: 350px; 
}
.muted{ color:#ccc;  }

.input  {
    padding:4px;
    font-size: 14px;
    border:none;
    border-radius: 3px;
    background-color:#121212;
    color:rgb(255, 255, 255);
    outline: rgb(0, 0, 0);
    
}

.fancy-input{
    border:none;
    padding:10px;
    border-radius: 3px;
    background-color: #121212;
    border-bottom: rgb(0, 0, 0) solid 1px;
    width:100%;
    color: #b3b3b3;
    text-align: left;
    margin:0px;
    height: 40px;
    
}
.black{

    background-color: #000000;

}
.fancy-input:focus{
    border-bottom: #f49d09 solid 1px;
}


.search-input-wrap{
    height: 40px;
    clear: both;
    position: relative;
}

.search-input-wrap .icon-warp{
    position:absolute;
    right:10px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.search-input-wrap .search_input{
    padding:10px;
    background-color: #121212;
    border-bottom: #000000 solid 1px;
    width:100%;
    text-align: left;
    color: #b3b3b3;
    border-radius: 3px;
    height: 40px;
}

.search-input-wrap .search_input:focus{
    border-bottom: #151516 solid 1px;
}


table { border-collapse: collapse; }
.version-bad{
    border-bottom:solid 1px rgb(58, 0, 0);
    background:rgb(27, 1, 1);
}

.version-good{
    border-bottom:solid 1px rgb(59, 116, 59);
    background:rgb(1, 22, 1);

} 

.depth {
    display: block;
    border: 1px solid silver;
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    padding: 5px;
    color: #555;
    border-radius: 3px;
  }
  
  .depth:focus {
    outline: none;
    background-position: 0 -2.5em;
  }

  .pad-10px{
      padding:10px;
  }


  .sm-txt{
      font-size: 12px;
  } 
  
  .green-txt{
      color:rgb(6, 71, 6) !important;
     
  }

  .red-txt{
      color:rgb(139, 7, 7)!important;
    
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .hover-effect:hover{
    background-color: #2b2a2a;
  }

  .stricken {
    text-decoration: line-through
  }